<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        
       
       
    </style>
</head>
<body>

    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
